//--------------------
// SCSS VARIABLES
//--------------------

@import "~bootstrap/scss/variables";

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);


// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
  "modal": 999,
  "header": 100,
  "content-overlay": 25,
);


// Colors
//
// Grayscale.

$gray-darkest:              #2F2F2F;
$gray-dark:                 #4A4A4A;
$gray:                      lighten($gray-dark, 25%);
$gray-light:                #9B9B9B;
$gray-lighter:              #D8D8D8;
$gray-lightest:             #F7F7F7;

// Brand Colors

$brand-blue:                #005FA5;
$brand-red:                 #FF6559;

// State Colors

$state-success:             #95b34f;
$state-info:                #498CBD;
$state-warning:             #df8a13;
$state-error:               #D0021B;

//Color Mappings

$brand-primary:             $brand-red;
$brand-secondary:           $brand-blue;

// Links
//
// Style anchor elements.

$link-color:                 $brand-primary;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 10%);
$link-hover-decoration:      underline;

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #FFFFFF; //#F9FAFC;
$body-color:                 $gray-dark;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$font-family-base:           $font-family-sans-serif;

$font-size-root:             100%;
$font-size-base:             1rem;

$line-height:                1.625;
$leading:                    round(16 * $line-height);
$leading-rem:                $leading / 16;

// Animation
//
// Default easing curves, Transitions, etc

$animation-curve-fast-out-slow-in:    cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in:  cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in:  cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default:             $animation-curve-fast-out-slow-in;

// Misc Shared
//
// common shared styles

$border-radius:               .25rem;
$spacing-x:                   $grid-gutter-width;
$spacing-y:                   2rem;


// Components
//
// Variables related to specific elements

